<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cis330-gp16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>Webserver.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OwnerServlet</servlet-name>
    <servlet-class>Webserver.OwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerServlet</servlet-name>
    <url-pattern>/owner</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuickeatServlet</servlet-name>
    <servlet-class>Webserver.QuickeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickeatServlet</servlet-name>
    <url-pattern>/quickeat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NearbyServlet</servlet-name>
    <servlet-class>Webserver.NearbyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NearbyServlet</servlet-name>
    <url-pattern>/nearby</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>Webserver.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutocompleteServlet</servlet-name>
    <servlet-class>Webserver.AutocompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutocompleteServlet</servlet-name>
    <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>Webserver.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>Webserver.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>